services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana
    networks:
      - app_net
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}
      - WHATSAPP_USER_ID=${WHATSAPP_USER_ID}
      - WHATSAPP_GROUP_ID=${WHATSAPP_GROUP_ID}
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"

  whatsapp_service:
    image: ghcr.io/optiop/grafana-whatsapp-webhook:latest
    restart: unless-stopped
    user: root
    hostname: webhook
    ports:
      - 8080:8080
    networks:
      - app_net
    volumes:
      - whatsapp_service_data:/app/data/
      - ./out:/app/out
    environment:
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}

networks:
  app_net:
    driver: bridge


volumes:
  grafana_data:
  whatsapp_service_data:
