services:
  whatsapp:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8080:8080"
    cpus: 2
    mem_limit: 512m
    environment:
      WEBHOOK_SECRET: ${WEBHOOK_SECRET}
    volumes:
      - whatsapp_data:/app/data
      - ./:/app

  swagger:
    image: swaggerapi/swagger-ui
    volumes:
      - ./swagger/openapi.yaml:/mnt/openapi.yaml
    environment:
      SWAGGER_JSON: /mnt/openapi.yaml
    ports:
      - 8000:8080

volumes:
  whatsapp_data:
